<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


Hello <span th:text="${USER_NAME}">UserName</span>, we hope this email find you well.
<br/>

This is our weekly backup email for your accounts and transactions in a compressed file.

Please look at attachments to see the backup file.
<br/>
<br/><br/>
	   
	   <hr/>
	   
	   We hope you find this email useful.<br/>
	   For feedback, please contact us.<br/>
	   Regards,<br/>
	   SalaryControl.com<br/>
	   

	
	</body>

</html>

